<% if @new.errors.any? %>
<div id='error_explanation'>
  <h2><%= pluralize(@new.errors.count, 'error') %> saved:</h2>

  <ul>
    <% @new.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class='news-bloc' style='text-align: center'>
  <%= form_for @new, url: news_path(@new) do |f| %>

    <div class='field'>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form_text' %>
    </div>
    <div class='field'>
      <%= f.label :image %><br>
      <%= image_tag @new.image, class: 'mod-image',
                                id: 'imagePreview'%>
      <%= f.file_field :image, id: 'imageInput' %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class='field'>
      <%= f.label :description %><br>
      <%= f.text_area :description, size: '60x5' %>
    </div>
    <div class='field'>
      <%= f.label :content %><br>
      <%= f.text_area :content,  size: '60x5' %>
    </div>

    <div class='actions'>
      <%= f.submit 'Modifier'%>
    </div>
  <% end %>
</div>
<script>
function readURL(input)
{
  if (input.files && input.files[0])
  {
    var reader = new FileReader();
    reader.onload = function(e)
    {
      $('#imagePreview').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}

$("#imageInput").change(function()
{
  readURL(this);
});
</script>
