<div class="modal-header black-border">
  <h1 class="modal-title">Actualité</h1>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-md-6">
          <div class="news-bloc">
            <div>
              <%= link_to (image_tag 'new_news.jpg', alt: "Créer une nouvelle news",
                                       class: "mod-image"), new_news_path %>
            </div>
            <div class="news-line"></div>
            <div>
              <div class="news-title">
                <h4><%= "Créer une nouvelle news"  %></h4>
              </div>
              <div class="news-content">
                <%= "Créer" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% @news.each do |new| %>
        <div class="col-md-6">
          <div class="news-bloc">
            <div>
              <%= link_to (image_tag new.image, alt: "Modevos News Image",
                                       class: "mod-image"), new %>
            </div>
            <div class="news-line"></div>
            <div>
              <div class="news-title">
                <h4><%= new.title %></h4>
              </div>
              <div class="news-content">
                <%= new.description %>
              </div>

              <div class="news-date-border">
                <div class="row news-menu-content">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <%= link_to "Voir plus", new %>
                  </div>

                  <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 news-date">
                      Modifié le <%= new.updated_at.to_s :short %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/social_bar' %>
</div>
