<div class="modal-header black-border">
  <h1 class="modal-title"><%= @new.title %></h1>
</div>


<div class="row">
  <div class="col-md-9">
    <div class="news-bloc">
      <div>
        <%= image_tag @new.image, alt: "Modevos News Image",
                                  class: "mod-image" %>
      </div>
      <div class="news-line"></div>
      <div>
        <div class="news-content">
          <%= @new.content %>
        </div>

        <div class="news-date-border">
          <div class="row news-menu-content">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <% if user_signed_in? %>
              <ul class="news-crud">
                <li><%= link_to 'Modifier', edit_news_path(@new) %></li>
                <li><%= link_to 'Suprimer', news_path(@new),
                                method: :delete,
                                data: { confirm: 'Êtes vous sûr?' }%></li>
              </ul>
              <% end %>
            </div>

            <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 news-date">
                Modifié le <%= @new.updated_at.to_s :short %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/social_bar' %>
</div>
