@import "bootstrap-sprockets"
@import "bootstrap"

body
  background-image: url("background.png")

.mod-main
  padding-top: 2px
  margin-top: 64px
  margin-bottom: 64px
  background-color: #e3e3e3
  text-align: center
  border: solid 656565 1px
  box-shadow: 1px 1px 20px 2px #656565
  font-family: 'Roboto', sans-serif

.mod-image
  width: 100%

/***********
 *         *
 *   NEWS  *
 *         *
 ***********/

.news-bloc
  border: solid black 2px
  margin-bottom: 30px
  text-align: left
  background-color: white

.news-line
  position: relative
  width: 100%
  border: 3px solid #5959fa

.news-title
  text-align: left
  text-overflow: ellipsis
  border-bottom: solid black 1px

.news-content
  margin: 10px
  text-align: justify

.news-date-border
  border-top: solid black 1px

.news-date
  text-align: right

.news-menu-content
  margin-top: 2px
  margin-left: 1px
  margin-right: 1px

.news-crud
  list-style-type: none
  text-align: left
  margin-left: 0px
  padding-left: 0px
  li
    padding: 4px

/***********
 *         *
 *  ALERT  *
 *         *
 ***********/

.alert-error
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left

.alert-alert
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left

.alert-success
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.alert-notice
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.alert
  border-radius: 8px

/********
 *      *
 * FORM *
 *      *
 ********/

.form_text
  border-radius: 10px
  text-decoration: none
  text-align: center
  font-size: 22px
