<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Modevos", root_path , class: "navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "News", news_index_path %></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Forum</a></li>
            <% if user_signed_in? %>
              <li><%= link_to "Disconnect", destroy_user_session_path,
                                            method: :delete %></li>
            <% else %>
              <li><%= link_to "Connexion", new_user_session_path %></li>
              <li><%= link_to "Inscription", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
