<div class="col-md-3">
  <div class="row">
    <div class="col-md-12 col-sm-6">
      <a href="https://www.facebook.com/ModevosProduction" target="_blanck">
        <%= image_tag "social/facebook.png", alt: "Facebook",
                                             class: "mod-image" %>
      </a>
      <br><br>
    </div>
    <div class="col-md-12 col-sm-6">
      <a href="https://www.youtube.com/user/Modevos" target="_blanck">
        <%= image_tag "social/youtube.png", alt: "Youtube",
                                            class: "mod-image" %>
      </a>
      <br><br>
    </div>
  </div>
</div>
