<!DOCTYPE html>
<html>
  <head>
    <title>Modevos</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <section>
      <div class="container">
        <div class="row">
          <div class="mod-main col-md-12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
